{% extends "account/base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="centering text-center">
          <h1>Oops!<small>Error 502</font></small></h1>
          <br />
          <p> Bad Gateway, Server received an invalid response</p>
          <a href="{% url 'index' %}" class="btn btn-large btn-info"><i class="icon-home icon-white"></i>Home</a>
        </div>
        <br />
      </div>
	</div>
  </div>
</div>
{% endblock %}
