{% extends "admin/change_list.html" %}
{% load staticfiles%}
{% load i18n %}

{% block messages %}

{% if messages %}

<script src="{% static 'js/jquery.min.js' %}"></script>


<script>
    $(document).ready(function () {
        dup_json = '{{ dup_json | safe }}';
        duplicates = JSON.parse(dup_json);
        var url = "{% url 'admin:chm_accept_similar_question' %}";

        {% if duplicates %}{% for duplicate in duplicates %}
        $('#addit{{forloop.counter}}').click(function () {
            $.ajax({
                url: url,
                type: "POST",
                data: {data: JSON.stringify(duplicates[{{forloop.counter}}])},
                success:function(data) {
                    $('#divaddit{{forloop.counter}}').html('Added!');
                }
            });
        });
        {% endfor %}{% endif %}

    });
</script>

<ul class="messagelist">

    {% if duplicates %}{% for duplicate in duplicates %}
    <li class="warning">
        A similar question already exists: {{ duplicate.question }}.

        <div id="divaddit{{forloop.counter}}">
            <button id="addit{{forloop.counter}}" class="default">Add it anyway</button>
        </div>

        </li>
    {% endfor %}{% endif %}

    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message|capfirst }}
        </li>
    {% endfor %}

</ul>
{% endif %}


{% endblock messages %}

