{% extends "base.html" %}
{% block custom_css %}
<link href="/static/admin/css/widgets.css" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1> New quiz! </h1>
  </div>

{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

  <form class="form-horizontal" action="{% url 'new_quiz' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
	  {{ form.topics }}
    </div>
	  {% if form.topics.errors %}
		{% for error in form.topics.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
		{% endfor %}
	  {% endif %}

    <div class="form-group">
	<label class="control-label col-sm-4" for="nr_of_questions">Number of questions</label>
	  {{ form.nr_of_questions }}
    </div>
    <div class="form-group">
	<label class="control-label col-sm-4" for="seconds_per_question">Seconds per question</label>
	  {{ form.seconds_per_question }}
    </div>

    <div class="form-group">
	<label class="control-label col-sm-4" for="selection_algorithm">Selection algorithm</label>
	  {{ form.selection_algorithm }}
    </div>
	<div class="form-group"> 
      <div class="col-sm-offset-8 col-sm-4">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript">
django.jQuery = $;
</script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
{% endblock %}
