 {% extends "base.html" %}

{% block content %}
<div class="page-header">
        <h1 id = "headline">You are taking a quiz</h1>
</div>
<div id="all">
    <div class="progress">
        <div class="progress-bar" role="progressbar"
             aria-valuenow="70" aria-valuemin="0"
             aria-valuemax="100" style="width:100%">
		        {{ seconds }}
        </div>
    </div>
    <h2 id="question"></h2>
    <div id="answers"></div>
    <br>
    <div id="button">  </div>
</div>
{% endblock %}

{% block custom_js %}

<script>
    $( document ).ready(function() {

        var quiz = {{ quiz | safe }}; {# this will dump quiz as a json object #}
        var questions = quiz.questions

        // this will be the post data
        var result = {
            'quiz_id': quiz.id,
            'answers': []
        };

        var current_question = -1;
        var timer_bar;
        var seconds = {{ seconds }};

        // jquery extend function
        $.extend({
            redirectPost: function(args) {
                var field;
                var url = "{% url 'correct_quiz' %}";
                var form = $("<form action='" + url + "'> {% csrf_token %} </form>");

                form.attr("method", "post");

                $.each( args, function( key, value ) {
                    field = $('<input></input>');
                    field.attr("type", "hidden");
                    field.attr("name", key);
                    field.attr("value", value);

                    form.append(field);
                });
                $(form).appendTo('body').submit();
            }
        });


        function format_button(qid) {
            // return ok button
            return '<button type="button" ' +
                   'class="btn btn-success btn-block" id="ok' + qid +
                   '">OK</button>';
        }

        function format_duplicate_button(qid) {
            // return duplicate button
            return '<button type="button" ' +
                   'class="btn btn-warning btn-md" id="duplicate' + qid +
                   '">Duplicate</button>';
        }

        function format_checkbox(qid, id, text) {
            // return checkbox and answer
            var html = '<div class="funkyradio"><div class="funkyradio-success">' +
                       '<input type="checkbox" name="' + qid + '" id="' + id + '"/>' +
                       '<label for="' + id + '">' + text + '</label></div></div>';
            return html;
        }

        function change_template(question) {
            // clear question and answers
            $("#question").text(question.text);
            $("#answers").text('');
            $("#button").text('');
            // set new answers
            for (i in question.answers) {
                var answer = question.answers[i]
                var $answer_html = $(format_checkbox(question.id, answer.id, answer.text));
                $("#answers").append($answer_html);
            }
            var button_html = format_button(question.id);
            var button_duplicate_html = format_duplicate_button(question.id)
            $("#button").append(button_html);
            $("#button").append('<br>');
            $("#button").append(button_duplicate_html);
        }

        function clear_all() {
            $("#headline").text('{{ finish_message }}');
            $("#all").text('');
        }

        function get_checked_answers(qid, answers) {
            $( "[name='" + qid + "']:checked" ).each(function() {
                answers.push($(this).attr('id'));
            });
        }

        function next_question() {
            // advance question counter
            current_question++;

            // make an alias, easier to read
            var i = current_question;

            if (i == questions.length) {
                clear_all();
                $.redirectPost({
                    'json' : JSON.stringify(result),
                });
            } else {

                // this cuestion's answers (initially, none)
                var question_result = {
                    'question_id': questions[i].id,
                    'answer_id': []
                };

                // set it as part of the global result
                result.answers.push(question_result);

                // refresh view
                change_template(questions[i]);
                clear_timer();
                init_timer(questions[i].id, result.answers[i].answer_id);

                $("#ok" + questions[i].id).click(function() {
                    // user pressed OK, collect selected answers
                    get_checked_answers(questions[i].id, result.answers[i].answer_id);
                    next_question();
                });
            }
        }

        function clear_timer() {
            clearInterval(timer_bar);
            $('.progress-bar').css('width', '100%');
            $('.progress-bar').text(seconds);
        }

        function init_timer(some_id, some_list) {
            var j = seconds;
            var ratio;
            timer_bar = setInterval(function () {
                j--;
                if (j > 0) {
                    ratio = j / seconds * 100;
                    $('.progress-bar').css('width', j / seconds * 100 + '%');
                    $('.progress-bar').text(j);
                } else {
                    get_checked_answers(some_id, some_list);
                    next_question();
                }
            }, 1000);
        }

        // start the quiz
        next_question();
    });
</script>
{% endblock %}
