{% extends "base.html" %}

    {% block content %}
        <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            {{ form.as_p }}

            <p><input type="submit" value="Subir"/></p>
        </form>

        {% if not syntax_error and not schema_error %}
            {% if added %}
				<div class="alert alert-danger" role="alert">Las siguientes preguntas fueron agregadas correctamente:</div>
                <ul>
                    {% for qa in added %}
                    <li>{{ qa }} </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if repeated %}
			<div class="alert alert-danger" role="alert">Las siguientes preguntas no fueron cargadas porque ya existen:</div>
                <ul>
                    {% for qa in repeated %}
                    <li>{{ qa }} </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if similar_exists %}
				<div class="alert alert-danger" role="alert">Las siguientes preguntas no fueron cargadas porque existen preguntas similares:</div>
                <ul>
                    {% for qa in similar_exists %}
                    <li>{{ qa }} </li>
                    {% endfor %}
                </ul>
            {% endif %}

        {% endif %}

        {% if syntax_error %}
			<div class="alert alert-danger" role="alert"> Hubo en error de sintaxis. Por favor revise que el formato sea: </div>
            {% include "xmlformathelp.html" %}
        {% endif %}

    {% endblock %}
