{% block help %}
    <ul>
        <li> Un tag "file" que contiene todas las preguntas. Sólo puede estar una vez. </li>
        <ul>
            <li> Un tag "question" que puede estar muchas veces y que debe contener: </li>
            <ul>
                <li> Un tag "text" que contiene el enunciado de la pregunta.
                        Sólo puede existir uno por pregunta y debe estar al principio. </li>
                <li> Un sucesión de tags "correct" e "incorrect".
                        No es necesario que los correctos vengan antes de los incorrectos o viceversa.
                        Puede existir cualquier cantidad de correctas e incorrectas,
                        pero debe haber al menos una respuesta correcta.
                        El orden de los tags correcto e incorrecto determina el orden en el que se cargan
                        respuestas. </li>
            </ul>
        </ul>
    </ul>
{% endblock %}
